// background colors
$header-back-color: #E5E5E5;
$footer-back-color: #3F3D56;

// Font colors
$font-color__one:#000000;
$font-color__two:#FFFFFF;
$font-color__three:#FF0000;
$font-color__four:#0029FF;
